body {
  background: rgb(247, 232, 166);
}
h1 {
  text-align: center;
}
img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 10px;
  color: blue;
}
